PORT=3000

DB_USER=postgres
DB_HOST=localhost
DB_NAME=sia_db
DB_PASSWORD=admin
DB_PORT=5432

JWT_SECRET=cambiar_este_secreto_de_access_token
JWT_REFRESH_SECRET=cambiar_este_secreto_de_refresh_token
JWT_ACCESS_EXPIRES_IN=1h
JWT_REFRESH_EXPIRES_IN=7d
